.l-contact {
  display: flex;
  flex-direction: column;
  padding: 2rem 30px 0rem 30px;
}
.c-text {
  display: flex;
  text-align: center;
  font-size: var(--size-s);
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.l-reach-us {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0rem 0rem 0rem;
  flex-wrap: wrap;
}

.c-reach-text {
  display: flex;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  flex-wrap: wrap;
}
