.l-form {
  display: flex;
  padding: var(--padding-section-with-top);
  justify-content: center;
}

.c-form-both {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  max-width: 600px;
}

.c-cont-both {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.c-form-body {
  display: flex;
  min-height: 400px;
  font-family: var(--font-family);
  font-size: var(--size-xs);
}

.c-form-label {
  display: flex;
  text-transform: capitalize;
  font-weight: 500;
}

.c-form-input {
  display: flex;
  font-family: var(--font-family);
  font-size: var(--size-xs);
}

.c-cont-submit {
  display: flex;
  justify-content: center;
}

.c-form-submit {
  display: flex;
  padding: 1rem 1.75rem;
  background-color: var(--color-btn);
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-white);
  width: 400px;
  transition: ease-in-out 0.3s;
}

.c-form-submit:hover {
  background-color: var(--color-hover);
}

.c-my-posts {
  display: flex;
  flex-direction: column;
}

.c-my-posts-header {
  display: flex;
  padding: var(--padding-section-with-top);
  background-color: var(--color-blue);
}

.c-post-create {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 300px;
  max-width: 250px;
  border: 1px solid black;
}

.c-post-edit-btn {
  display: flex;
  justify-content: center;
}

.c-post-edit-btn a {
  display: flex;
  color: var(--color-white);
  padding: 0.75rem 1.5rem;
  background-color: var(--color-btn);
  border-radius: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
}

.c-post-edit-btn a:hover {
  background-color: var(--color-hover);
}
